
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; 
}
.burgerContent {
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  height: 100vh;            /* Full viewport height */
  width: 100vw;             /* Full viewport width */
  overflow: hidden;         /* Prevents content overflow */
}